.Notification {
  background: rgba(0, 0, 0, .85);
  border-bottom: solid 1px rgba(255, 255, 255, .2);
  cursor: pointer;
  padding: 10px 18px;

  &:hover {
    background: rgb(0, 0, 0);
  }
}

.notificationImg {
  display: inline-block;
  vertical-align: middle;
  width: 128px;
}

.notificationText {
  display: inline-block;
  line-height: 1em;
  margin-left: 10px;
  vertical-align: middle;
}

.notificationHeaders {
  color: rgb(204, 204, 204);

  &:hover {
    color: rgb(255, 255, 255);
  }
}

.subheaderText {
  color: rgb(128, 128, 128);
  font-size: 13px;
  margin-top: 4px;
}
