.HeroRecommendation {
  background-image: url("./recommendation-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 56vw;
  margin-bottom: 20px;
  padding-left: 50px;
}

.heroInfo {
  display: inline-block;
  margin-top: 10vw;
  width: 40%;
}

.recommendationLogo {
  display: block;
  margin-bottom: 30px;
  width: 100%;
}

.recommendationBtns {
  margin-bottom: 15px;
}

.recommendationBtn {
  background-color: rgba(51, 51, 51, .4);
  border-radius: 5px;
  display: inline-block;
  font-size: 1vw;
  margin-right: 20px;
  padding: .87vw 2.4vw;
  text-align: center;
  vertical-align: middle;

  &:hover {
    background-color: rgb(230, 230, 230);
    box-shadow: 0 0.6vw 1vw -0.4vw rgba(0,0,0,.35);
    color: black;

    .playLogo {
      background-image: url("./play-logo-hover.png");
    }

    .addLogo {
      background-image: url("./add-logo-hover.png");
    }
  }
}

.recommendationBtnLogo {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.playLogo {
  background-image: url("./play-logo-normal.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1.2vw;
  width: 1.2vw;
}

.addLogo {
  background-image: url("./add-logo-normal.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1.2vw;
  width: 1.2vw;
}

.recommendationSynopsis {
  color: white;
  font-size: 1.5vw;
  line-height: 1.35;
  width: 100%;
}

.ageRestriction {
  background-color: rgba(255, 255, 255, .2);
  border-left: solid 3px white;
  color: white;
  padding-right: 20px;
  padding: 10px 45px 10px 10px;
  position: absolute;
  right: 0;
}