@import '../_variables.scss';

.HeroRecommendation {
  background-image: url("./recommendation-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 56vw;
  margin-bottom: 20px;
  padding-left: 5vw;
}

.heroInfo {
  display: inline-block;
  margin-top: 10vw;
  width: 40%;
}

.recommendationLogo {
  display: block;
  margin-bottom: 30px;
  width: 100%;
}

.recommendationBtns {
  margin-bottom: 15px;
}

.recommendationBtn {
  background-color: rgba(51, 51, 51, .4);
  border-radius: 5px;
  display: inline-block;
  font-size: 1vw;
  margin-right: 20px;
  padding: .87vw 2.4vw;
  text-align: center;
  vertical-align: middle;

  &:hover {
    background-color: rgb(230, 230, 230);
    box-shadow: 0 0.6vw 1vw -0.4vw rgba(0,0,0,.35);
    color: black;

    .playLogo {
      background-image: url("./play-logo-hover.png");
    }
  }
}

.recommendationBtnLogo {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.playLogo {
  background-image: url("./play-logo-normal.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1.2vw;
  width: 1.2vw;
}

.recommendationSynopsis {
  color: white;
  font-size: 1.5vw;
  line-height: 1.35;
  width: 100%;
}

.releaseDate {
  background-color: rgba(255, 255, 255, .2);
  border-left: solid 3px white;
  color: white;
  padding-right: 20px;
  padding: 10px 45px 10px 10px;
  position: absolute;
  right: 0;
}

@media(max-width: $max-xs-width) {
  .heroInfo {
    width: 50%;
  }

  .recommendationLogo {
    margin-bottom: 15px;
  }

  .recommendationBtnLogo {
    margin-bottom: 8px;
  }

  .recommendationBtn {
    font-size: 16px;
    padding: 8px 32px;
  }

  .playLogo {
    height: 16px;
    width: 16px;
  }

  .recommendationSynopsis {
    font-size: 9px;
  }
}

@media(max-width: $max-sm-width) {
  .releaseDate {
    display: none;
  }
}

@media(max-width: $max-xxs-width) {
  .playLogo {
    height: 13px;
    width: 13px;
  }

  .recommendationBtn {
    font-size: 13px;
    padding: 6px 16px;   
  }

  .heroInfo {
    margin-top: 7vw;   
  }
}