$cards-per-row: 6;
$container-width: 90vw;
$card-width: $container-width / $cards-per-row;
$card-height: $card-width * 0.6;
$growth-factor: 1.5;
$move-left: -($card-width * ($growth-factor - 1) / 2);
$move-left-extra: -($card-width * ($growth-factor - 1));
$move-right: ($card-width * ($growth-factor - 1));

.sliderWrapper {
  overflow-x: visible;
  width: $container-width;
}

.sliderWrapperInner {
  transition: all 450ms ease-in-out;
  white-space: nowrap;
}

.wrapperMoveLeft {
  &:hover {
    transform: translate3d($move-left, 0, 0);
  }
}

.wrapperMoveLeftExtra {
  &:hover {
    transform: translate3d($move-left-extra, 0, 0);
  }
}

.movieCardWrapper {
  display: inline-block;
  height: $card-height;
  transition: all 450ms ease-in-out;
  transform-origin: center left;
  width: $card-width;

  &:hover {
    transform: scale($growth-factor);
  }
}

.movieCardWrapper:hover ~ .movieCardWrapper {
  -webkit-transform: translate3d($move-right, 0, 0);
          transform: translate3d($move-right, 0, 0);
}