@import '../_variables.scss';

$cards-per-row: 6;
$container-width: 90vw;
$card-width: $container-width / $cards-per-row;
$card-height: $card-width * 0.6;
$growth-factor: 1.5;
$move-left: -($card-width * ($growth-factor - 1) / 2);
$move-left-extra: -($card-width * ($growth-factor - 1));
$move-right: ($card-width * ($growth-factor - 1));

.sliderWrapper {
  overflow-x: visible;
  width: $container-width;
}

.sliderWrapperInner {
  transition: all 450ms ease-in-out;
  white-space: nowrap;
}

.wrapperMoveLeft {
  &:hover {
    transform: translate3d($move-left, 0, 0);
  }
}

.wrapperMoveLeftExtra {
  &:hover {
    transform: translate3d($move-left-extra, 0, 0);
  }
}

.movieCardWrapper {
  display: inline-block;
  height: $card-height;
  transition: all 450ms ease-in-out;
  transform-origin: center left;
  width: $card-width;

  &:hover {
    transform: scale($growth-factor);
  }
}

.movieCardWrapper:hover ~ .movieCardWrapper {
  -webkit-transform: translate3d($move-right, 0, 0);
          transform: translate3d($move-right, 0, 0);
}

.mobileSlider {
  position: relative;
}

.sliderPrevBtnWrapper, .sliderNextBtnWrapper {
  position: absolute;
  height: 100%;
}

.sliderPrevBtnWrapper:before, .sliderNextBtnWrapper:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.sliderNextBtnWrapper {
  right: 0;
  top: 0;
}

.prevBtn, .nextBtn {
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.prevBtn {
  background-image: url('./prev-btn.png');
  margin-left: -15px;
}

.nextBtn {
  background-image: url('./next-btn.png');
  margin-right: -15px;
}

@media(max-width: $max-sm-width) {
  .wrapperMoveLeft {
    &:hover {
      transform: none;
    } 
  }

  .wrapperMoveLeftExtra {
    &:hover {
      transform: none;
    }
  }

  .sliderItem {
    height: 100px;

    &:hover {
      transform: none;
    }
  }

  .desktopSlider {
    display: none;
  }
}

@media(min-width: $min-md-width) {
  .mobileSlider {
    display: none;
  }  
}
