.contentWrapper {
  color: #ffff;
  height: 200px;
  padding: 15px;
  position: relative;
  width: 100%;
}

.movieImgWrapper {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, .85) 100%);
  opacity: .5;
}

.movieImg {
  border-radius: 5px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.textContent {
  display: inline-block;
  position: relative;
  width: 60%;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.groupedAttributes {
  margin-bottom: 15px;
}

.voteAverage {
  color: #46d369;
  font-size: 12px;
  font-weight: bold;
  margin-right: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .7);
}

.year {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-right: 5px;
}

.duration {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-right: 5px;
}

.overview {
  font-size: 12px;
}

.closeIconWrapper {
  padding: 15px;
  position: absolute;
  right: 0;
  top: 0;
}

.playActionContainer {
  display: inline-block;
  height: 100%;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 40%;
}

.playBtnWrapper {
  background: none;
  border: 4px solid #ffff;
  border-radius: 50%;
  padding: 7px 7px 7px 10px;
  vertical-align: middle;
}

.playActionContainer:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.playBtn {
  height: 7vw;
  max-width: 30px;
  max-height: 30px;
  width: 7vw;
}