@import '../_variables.scss';

.Profile {
  display: inline-block;
}

.profileIcon {
  display: inline-block;
  vertical-align: middle;
}

.userName {
  display: inline-block;
  margin-left: 10px;
}

@media(max-width: $max-sm-width) {
  .userName {
    display: none;
  }
}