@import '../_variables.scss';

.AppNav {
  display: inline-block;
  padding: 0 20px;
  heigth: 100%;
  vertical-align: top
}

.linkList {
  line-height: 70px
}

.linkItem {
  display: inline-block;
  padding: 0 25px;
  vertical-align: top
}

@media(max-width: $max-md-width) {
  .linkItem {
    padding: 0;
  }

  .preBuiltLink {
    display: none;
  }  
}


@media(max-width: $max-xxs-width) {
  .AppNav {
    padding-left: 10px;
  }
}