.MovieCard {
  color: white;
  height: 100%;
  padding: 0 4px;
  position: relative;
  width: 100%;
}

.hoverable {
  cursor: pointer;
}

.movieCardInner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px 10px;
  height: 100%;
  width: 100%;
}

.overlay {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, .85) 100%);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.content {
  height: 100%;
  position: relative;
}

.infoContainer {
  bottom: 0;
  position: absolute;
  width: 180px;
}

.title {
  font-size: .9vw;
  font-weight: bold;
  margin-bottom: 5px;
}

.detailsContainer {
  margin-bottom: 5px;
}

.loadingMessage {
  color: #46d369;
  font-size: .8vw;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .7);
}

.voteAverage {
  color: #46d369;
  font-size: .8vw;
  font-weight: bold;
  margin-right: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .7);
}

.year {
  display: inline-block;
  font-size: .8vw;
  font-weight: bold;
  margin-right: 5px;
}

.adultFilm {
  display: inline-block;
  border: solid 1px white;
  font-size: .8vw;
  margin-right: 5px;
  padding: 3px;
  vertical-align: middle;
}

.duration {
  display: inline-block;
  font-size: .8vw;
  font-weight: bold;
  margin-right: 5px;
}

.overview {
  font-size: .7vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
