.SearchBar {
  display: inline-block;
  vertical-align: middle;
}

.searchPreview {
  cursor: pointer;
  display: inline-block;
}

.seachIcon {
  display: inline-block;
  margin-right: 10px;
}

.SearchBarUserInput {
  background: black;
  border: solid 1px white;
  color: white;
  line-height: initial;
  padding: 5px;
  transition: all 450ms ease-in-out;
}

.searchIcon {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.searchInput {
  background: transparent;
  border: none;
  color: white;
  outline: none;
  width: 250px;
}

.closeIcon {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  vertical-align: middle;
}

.inputAppear {
  width: 0px;
}

.inputAppearActive {
  width: 250px;
  transition: width 300ms ease-in;
}
