@import '../_variables.scss';

.SearchBar {
  display: inline-block;
  vertical-align: middle;
}

.searchPreview {
  cursor: pointer;
  display: inline-block;
}

.searchIcon {
  display: inline-block;
  margin-right: 10px;
  height: 11px;
  width: 11px;
}

.SearchBarUserInput {
  background: black;
  border: solid 1px white;
  color: white;
  line-height: initial;
  padding: 5px;
  transition: all 450ms ease-in-out;
}

.searchInput {
  background: transparent;
  border: none;
  color: white;
  outline: none;
  width: 250px;
}

.closeIcon {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-left: 10px;
  vertical-align: middle;
  width: 20px;
}

.inputAppear {
  width: 0px;
}

.inputAppearActive {
  width: 250px;
  transition: width 300ms ease-in;
}

@media(min-width: $min-sm-width) and (max-width: $max-md-width) {
  .searchInput {
    width: 150px;
  }

  .inputAppearActive {
    width: 150px;
  }
}

@media(max-width: $max-xs-width) {
  .searchInput {
    width: 100px;
  }

  .inputAppearActive {
    width: 100px;
  }

  .closeIcon {
    display: none;
  }
}

@media(max-width: $max-xxs-width) {
  .searchPreview {
    font-size: 14px;
  }

  .searchInput {
    width: 80px;
  }
}