@import '../_variables.scss';

.notificationIconBtn {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  img {
    vertical-align: middle;
  }
}

.itemsContainerArrow {
  border-bottom: 5px solid white;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0; 
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 100%;
  width: 0;
}

.itemsContainer {
  background: rgba(0, 0, 0, .85);
  max-height: 50vh;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 100%;
  white-space: nowrap;
}

.itemsContainerEnter {
  opacity: 0.1;
  transition: opacity 200ms ease-in;
}

.itemsContainerEnterActive {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.itemsContainerLeave {
  opacity: 1;
}

.itemsContainerLeaveActive {
  opacity: 0.1; 
  transition: opacity 200ms ease-in;
}

.topBar {
  background: white;
  height: 2px;
  position: absolute;
  top: 0;
  width: 100%;
}

@media(max-width: $max-sm-width) {
  .desktopVersion {
    display: none;
  }
}

@media(min-width: $min-md-width) {
  .mobileVersion {
    display: none;
  }
}