.ContentByCategory {
  overflow: hidden;
  position: relative;
}

.group {
  padding: 0 50px;
  margin-bottom: 30px;
}

.title {
  font-size: 1.5vw;
  color: white;
  margin-bottom: 10px;
}

.sliderContainer {
  width: 100%;
}