@import '../_variables.scss';

.AppHeader {
  background: rgb(0, 0, 0);
  color: white;
  height: 70px;
  width: 100%;
}

.innerHeader {
  height: 70px;
  padding: 0 60px;
  position: relative;
  z-index: 10;
}

.innerHeader:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.innerHeaderScrolled {
  height: 70px;
  padding: 0 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.innerHeaderScrolled:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.githubCorner {
  height: 80px;
  width: 80px;
}

.userActions {
  display: inline-block;
  float: right;
  line-height: 70px;
  position: relative;
  vertical-align: top;

  li {
    display: inline-block;
    margin-left: 30px;
  }
}

@media(max-width: $max-xs-width) {
  .innerHeader, .innerHeaderScrolled {
    padding: 0 20px;
  }

  .githubCorner {
    height: 45px;
    width: 45px;
  }

  .userActions {
    .searchBar {
      display: none;
    }
  }
}

@media(max-width: $max-sm-width) {
  .userActions {
    li.notificationsContainer {
      display: none;
    }
  }

  .userActions {
    li {
      margin-left: 15px;
    }
  }
}