.AppHeader {
  background: rgb(0, 0, 0);
  color: white;
  height: 70px;
  width: 100%;
}

.innerHeader {
  height: 70px;
  padding: 0 60px;
  position: relative;
  z-index: 10;
}

.innerHeader:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.innerHeaderScrolled {
  height: 70px;
  padding: 0 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.innerHeaderScrolled:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.userActions {
  display: inline-block;
  float: right;
  line-height: 70px;
  position: relative;
  vertical-align: top;

  li {
    display: inline-block;
    margin-left: 30px;
  }
}
