@import '../_variables.scss';

.AppHeader {
  color: white;
  height: 70px;
  width: 100%;
}

.innerHeader {
  background: rgb(0, 0, 0);
  height: 70px;
  padding: 0 60px;
  position: relative;
  z-index: 10;
}

.innerHeader:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.innerHeaderScrolled {
  background: rgb(0, 0, 0);
  height: 70px;
  padding: 0 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.innerHeaderScrolled:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.githubCorner {
  height: 80px;
  width: 80px;
}

.userActions {
  display: inline-block;
  float: right;
  line-height: 70px;
  position: relative;
  vertical-align: top;
}

.userActionsBigSearch {
  display: block;
  line-height: 70px;
  max-width: 250px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.actionItem {
  display: inline-block;
  margin-left: 30px;
}

.displayNone {
  display: none
}

@media(max-width: $max-sm-width) {
  .notificationsContainer {
    display: none;
  }

  .actionItem {
    margin-left: 15px;
  }
}

@media(max-width: $max-xs-width) {
  .innerHeader, .innerHeaderScrolled {
    padding: 0 20px;
  }

  .githubCorner {
    height: 45px;
    width: 45px;
  }
}

@media(max-width: $max-xxs-width) {
  .actionItem {
    margin-left: 6px;
  }
}