@import '../_variables.scss';


.NavLinks {
  position: relative
}

.toggleLinksBtn {
  background: none;
  border: none;
  color: #ad2dd7;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
};

.downArrowIcon {
  margin-left: 5px;
}

.linkContainer {
  background: rgba(0, 0, 0, .9);
  border: solid 1px rgba(255,255,255,.15);
  position: absolute;
  top: 100%;
  white-space: nowrap;
}

.linkContainerEnter {
  opacity: 0.1;
  transition: opacity 200ms ease-in;
}

.linkContainerEnterActive {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.linkContainerLeave {
  opacity: 1;
}

.linkContainerLeaveActive {
  opacity: 0.1; 
  transition: opacity 200ms ease-in;
}

.topBar {
  background: white;
  height: 2px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 100%;
}

.linksArrow {
  border-bottom: 5px solid white;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0; 
  position: absolute;
  top: -6px;
  left: 23px;
  width: 0;
}

.userLinks {
  border-right: 1px solid white;
  font-weight: bold;
}

.linksColumn {
  display: inline-block;
  padding: 25px 15px;
  vertical-align: top;
}

.linksRow {
  line-height: 1em;
  padding: 5px 0;

  a:hover {
    text-decoration: underline;
  }
}

.linksSeparator {
  background: white;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  width: 1px;
}

@media(max-width: $max-sm-width) {
  .NavLinks {
    position: static;
  }

  .desktopVersion {
    display: none;
  }

  .userLinks {
    border: 0;
  }

  .linkContainer {
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: 70vw;
  }

  .links {
    max-height: 40vh;
    overflow-y: scroll;
  }

  .linksColumn {
    display: block;
    padding: 0 15px;
  }

  .linksArrow {
    left: 0;
    margin: 0 auto;
    right: 0;
  }

  .linksRow {
    padding: 10px 0;
  }
}

@media(min-width: $min-md-width) {
  .mobileVersion {
    display: none;
  }
}